body {
    margin: 0;
    padding: 0;
    background-repeat: round;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.Book-Registration-form{
    width: 600px;
    height: 600px;
    background: rgb(225, 225, 225);
    border-color: #4609d5;
    color: red;
    top: 10%;
    left: 33%;
    position: absolute;
    translate: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px 30px;
    text-transform: capitalize;
    border-radius: 50px;
    cursor: pointer;
    background: aqua;
    color: rgb(2, 7, 4);
    text-align: center;
}
.button
{
    border:2px;
    outline: none;
    height: 50px;
    width: 100%;
    background: rgb(240, 5, 5);
    color: rgb(112, 89, 181);
    font-size: 16px;
    border-radius: 20px;  
}
.loginbox input[type="password"] 
{
    border: red;
    border-bottom: #09d55e;
    border: 2px solid;
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.Book Registration-form{
    width: 320px;
    height: 600px;
    background: #5555d9;
    color: #0f0b01;
    top: 10%;
    left: 50%;
    position: absolute;
    translate: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius:40px;
    padding: 70px 30px;
    text-transform: capitalize;
    text-align: center;
}


