body 
{
  margin: 0;
  padding: 0;
  background-repeat: round;
  background-size: cover;
  background-position: center;
  font-family: sans-serif
}
.User-Registration-form
{
  width: 400px;
  height: 600px;
  background: rgb(225, 225, 225);
  top: 10%;
  left: 33%;
  position: absolute;
  translate: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 10px 30px;
  text-transform: capitalize;
  border-radius: 50px;
  cursor: pointer;
  background: rgb(206, 220, 220);
  color: rgb(2, 7, 4);
}
.button 
{
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  background: rgb(240, 5, 5);
  color: rgb(112, 89, 181);
  font-size: 16px;
  
}
.loginbox input[type="password"] 
{
    border-bottom: #09d55e;
    border: 2px solid;
    width: 50%;
    padding: 10px;
    margin: 10px;
  
}
